force-app/main/default/flows/ALF_Search_Youtube_Content.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SerializeContent_Action_1</name>
        <label>SerializeContent Action 1</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <actionName>SerializeContent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>youtubeOutPuts</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SerializeContent</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>outputResult</assignToReference>
            <name>output</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Youtube_Search_Content</name>
        <label>Youtube Search Content</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>YoutubeVideoSearch.YoutubeSearchParams</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Transform_Youtube_Search_Result</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>part</name>
            <value>
                <elementReference>youtubePart</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>order</name>
            <value>
                <elementReference>youtubeOrder</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>videoDefinition</name>
            <value>
                <elementReference>videoDefinition</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>q</name>
            <value>
                <elementReference>searchContent</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>youtubeType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>key</name>
            <value>
                <elementReference>youtubeKey</elementReference>
            </value>
        </inputParameters>
        <nameSegment>YoutubeVideoSearch.YoutubeSearchParams</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>YouTube_Search_Response</name>
        <label>YouTube Search Response</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>youtubeOutPuts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Read_Transform_Content</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Read_Transform_Content</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ALF - Search Youtube Content {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALF - Search Youtube Content</label>
    <loops>
        <name>Read_Transform_Content</name>
        <label>Read Transform Content</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <collectionReference>Transform_Youtube_Search_Result</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>YouTube_Search_Response</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>SerializeContent_Action_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>PGP-0008: Get Youtube Key Values</description>
        <name>Get_Youtube_Key_Value</name>
        <label>Get Youtube Key Value</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Youtube_Search_Content</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Youtube</stringValue>
            </value>
        </filters>
        <object>External_Vendor_API_Keys__c</object>
        <outputAssignments>
            <assignToReference>youtubeKey</assignToReference>
            <field>API_Key__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Youtube_Key_Value</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Youtube_Search_Result</name>
        <label>Transform Youtube Search Result</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <apexClass>DisplayYoutubeResults</apexClass>
        <connector>
            <targetReference>Read_Transform_Content</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>channelId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Youtube_Search_Content.2XX.items[$EachItem].snippet.channelId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>channelTitle</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Youtube_Search_Content.2XX.items[$EachItem].snippet.channelTitle</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>description</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Youtube_Search_Content.2XX.items[$EachItem].snippet.description</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>liveBroadcastContent</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Youtube_Search_Content.2XX.items[$EachItem].snippet.liveBroadcastContent</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>publishedAt</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Youtube_Search_Content.2XX.items[$EachItem].snippet.publishedAt</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>publishTime</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Youtube_Search_Content.2XX.items[$EachItem].snippet.publishTime</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>title</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Youtube_Search_Content.2XX.items[$EachItem].snippet.title</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>displayYoutubeResults</name>
        <apexClass>DisplayYoutubeResults</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>outputResult</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>searchContent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>videoDefinition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>high</stringValue>
        </value>
    </variables>
    <variables>
        <name>youtubeKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>youtubeOrder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>viewCount</stringValue>
        </value>
    </variables>
    <variables>
        <name>youtubeOutPuts</name>
        <apexClass>DisplayYoutubeResults</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>youtubePart</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>snippet</stringValue>
        </value>
    </variables>
    <variables>
        <name>youtubeSearchResponse</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>youtubeType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>video</stringValue>
        </value>
    </variables>
</Flow>
