force-app/main/default/flows/RTF_Account_After_Update_Contact_Role_With_Primary_Contact.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <customErrors>
        <description>PGP-0031 - Display Error Message On Retrieving Contact Records</description>
        <name>Display_Error_While_Retrieving_Contact_Record</name>
        <label>Display Error While Retrieving Contact Record</label>
        <locationX>572</locationX>
        <locationY>431</locationY>
        <customErrorMessages>
            <errorMessage>{!$Flow.FaultMessage}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>PGP-0031 - Validate the Get Contact collection variable is NULL / NOT NULL. If it&apos;s not NULL, then no further action is required.</description>
        <name>Validate_Contact_Record</name>
        <label>Validate Contact Record</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Publish_Contact_Record_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_List_Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Primary_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Primary_Contact</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Contact List Not Empty</label>
        </rules>
    </decisions>
    <description>PGP-0031 - Record Trigger Flow to update role with Primary Role contact for selected record</description>
    <environments>Default</environments>
    <interviewLabel>RTF-Account(After)-Update Contact Role With Primary Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF-Account(After)-Update Contact Role With Primary Contact</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>PGP-0031 - Publishing Platform Event to trigger update Contact Role with Primary Contact</description>
        <name>Publish_Contact_Record_Event</name>
        <label>Publish Contact Record Event</label>
        <locationX>308</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Account_Id__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Primary_Contact_Uploads__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>PGP-0031 - Get Primary Contact Record</description>
        <name>Get_Primary_Contact</name>
        <label>Get Primary Contact</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Contact_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Display_Error_While_Retrieving_Contact_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Contact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Primary_Contact</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
