force-app/main/default/flows/RTF_Send_Notification_On_Appointment_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <!--<areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>-->
    <description>PGP-0017 - Send Notification on create appointment record for selected Evaluation Component record</description>
    <environments>Default</environments>
    <interviewLabel>RTF - Send Notification On Appointment Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - Send Notification On Appointment Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>PGP-0017 - Send Signal for Page Refresh</description>
        <name>Trigger_Platform_Event_To_Send_Signal_For_Page_Refresh</name>
        <label>Trigger Platform Event To Send Signal For Page Refresh</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Component_Name__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Lightning_Component_Refresh__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>PGP-0017 - Update Evaluation Component Tracker Status</description>
        <name>Evaluation_Component_Update</name>
        <label>Evaluation Component Update</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Trigger_Platform_Event_To_Send_Signal_For_Page_Refresh</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Evaluation__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Evaluation__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Evaluation_Component__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>Evaluation_Component__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Evaluation_Component_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Evaluation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Evaluation_Component__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Appointment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
