force-app/main/default/flows/RTF_Opportunity_Create_Opportunity_Contact_Role_Transformation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>PGP-1002 : Create Opportunity Contact Role records on creating opportunity records.</description>
    <environments>Default</environments>
    <interviewLabel>RTF - Opportunity - Create Opportunity Contact Role(Transformation) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RTF - Opportunity - Create Opportunity Contact Role(Transformation)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>PGP-1002: Create Opportunity Contact Role records</description>
        <name>Create_Opportunity_Contact_Role_Records</name>
        <label>Create Opportunity Contact Role Records</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputReference>Create_Opportunity_Contact_Record_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <description>PGP-0002: Get all related contact records from Account</description>
        <name>Get_Related_Contact_From_Account</name>
        <label>Get Related Contact From Account</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity_Contact_Record_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>AccountId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Contact_From_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <description>PGP-1002: Create Opportunity Contact Role collection variable to insert records.</description>
        <name>Create_Opportunity_Contact_Record_Collection</name>
        <label>Create Opportunity Contact Record Collection</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_Opportunity_Contact_Role_Records</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>OpportunityContactRole</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>ContactId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Related_Contact_From_Account[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OpportunityId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Role</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>ContactRole</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>ContactRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Decision Maker</stringValue>
        </value>
    </variables>
</Flow>
