force-app/main/default/flows/SF_Create_a_Shipping_Case_On_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <description>PGP-0028 - Validate Primary Contact record variable. If this is NULL or BLANK, then it will throw an error message.</description>
        <name>Validate_Primary_Contact_Record</name>
        <label>Validate Primary Contact Record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>DisplayErrorOnNoPrimaryContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Primary Contact - Blank</defaultConnectorLabel>
        <rules>
            <name>Primary_Contact_No_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ContactRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_New_Case</targetReference>
            </connector>
            <label>Primary Contact - No Blank</label>
        </rules>
    </decisions>
    <description>PGP-0028- Create a Shiiping Case On Opportunity Record</description>
    <environments>Default</environments>
    <interviewLabel>SF-Create a Shipping Case On Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF-Create a Shipping Case On Opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>PGP-0028 - Create a new Opportunity Case</description>
        <name>Create_a_New_opportunity_Case</name>
        <label>Create a New Case</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>varT_CaseRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Display_Success_On_New_Case_Creation</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DisplayErrorOnNewCaseCreation</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>recordId.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varR_ContactRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varT_AssignOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__City__s</field>
            <value>
                <elementReference>varR_CaseRecord.Shipping_Address__City__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__CountryCode__s</field>
            <value>
                <elementReference>varR_CaseRecord.Shipping_Address__CountryCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__PostalCode__s</field>
            <value>
                <elementReference>varR_CaseRecord.Shipping_Address__PostalCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__StateCode__s</field>
            <value>
                <elementReference>varR_CaseRecord.Shipping_Address__StateCode__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Address__Street__s</field>
            <value>
                <elementReference>varR_CaseRecord.Shipping_Address__Street__s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Date__c</field>
            <value>
                <elementReference>varR_CaseRecord.Shipping_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shipping_Priority__c</field>
            <value>
                <elementReference>varR_CaseRecord.Shipping_Priority__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <screens>
        <description>PGP-0028 - Create a New Case</description>
        <name>Create_a_New_Case</name>
        <label>Create a New Case</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_a_New_opportunity_Case</targetReference>
        </connector>
        <fields>
            <name>ShiipingDetailSection</name>
            <fieldText>Shipping Detail</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ShiipingDetailSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_CaseRecord.Shipping_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_CaseRecord.Shipping_Priority__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ShiipingDetailSection_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_CaseRecord.Shipping_Address__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create a Case</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>PGP-0028 - Display success message on Create a new Case</description>
        <name>Display_Success_On_New_Case_Creation</name>
        <label>Display Sucess On New Case Creation</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showSuccessMessageOnCaseCreation</name>
            <extensionName>c:flowShowToastMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>New Case {0} has been created! See it here{1}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varT_CaseRecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>PGP-0028 - Display an error message on Create a new Case</description>
        <name>DisplayErrorOnNewCaseCreation</name>
        <label>Display Error On New Case Creation</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showNewCaseErrorMessage</name>
            <extensionName>c:flowShowToastMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>PGP-0028 - Display Primary Contact not found error message</description>
        <name>DisplayErrorOnNoPrimaryContact</name>
        <label>Display Error On No Primary Contact</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>showPrimaryContactError</name>
            <extensionName>c:flowShowToastMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>There is no primary contact associated with selected Opportunity record. Please create a Contact before Case creation.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Queue_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>PGP-0028 - Get Primary Contact Record Id</description>
        <name>Get_Primary_Contact_Record_Id</name>
        <label>Get Primary Contact Record Id</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Validate_Primary_Contact_Record</targetReference>
        </connector>
        <flowName>ALF_Get_Primary_Contact_For_Selected_Account_Id_field</flowName>
        <inputAssignments>
            <name>accountId</name>
            <value>
                <elementReference>recordId.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>accountRoles</name>
            <value>
                <elementReference>varT_PrimaryContact</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varR_ContactRecord</assignToReference>
            <name>primaryContactRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>PGP-0028 - Get Queue  Id For Owner Assignment</description>
        <name>Get_Queue_Id</name>
        <label>Get Queue Id</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Primary_Contact_Record_Id</targetReference>
        </connector>
        <flowName>ALF_Get_Owner_ID_For_Queue_Or_User</flowName>
        <inputAssignments>
            <name>varT_GroupType</name>
            <value>
                <elementReference>varT_GroupType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_QueueName</name>
            <value>
                <elementReference>varT_QueueName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_SObjectName</name>
            <value>
                <elementReference>varT_SObjectName</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varT_AssignOwner</assignToReference>
            <name>varT_Output_AssignOwner</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>PGP-0028 - Stores Opportunity Record Information</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>PGP-0028- Store Case related Details</description>
        <name>varR_CaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>PGP-0028 - Stores Primary Contact Record Details</description>
        <name>varR_ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>PGP-0028 - Stores owner Queue Record Id</description>
        <name>varT_AssignOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>PGP-0028 - Stores case record id</description>
        <name>varT_CaseRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>PGP-0028 - Store SGroup Type - User Or Queue</description>
        <name>varT_GroupType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Queue</stringValue>
        </value>
    </variables>
    <variables>
        <description>PGP-0028 - Store Primary Contact Role</description>
        <name>varT_PrimaryContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Primary Contact</stringValue>
        </value>
    </variables>
    <variables>
        <description>PGP-0028 - Stores Shiiping Queue Name</description>
        <name>varT_QueueName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Shipping Queue</stringValue>
        </value>
    </variables>
    <variables>
        <description>PGP-0028 - SOBject Name to get the queue Id.</description>
        <name>varT_SObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </variables>
</Flow>
