force-app/main/default/flows/SF_Customer_Information_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>PGP-0004: Assign object record variable</description>
        <name>Assign_Billing_and_Shipping_Address</name>
        <label>Assign Billing and Shipping Address</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyBillingAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyBillingAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyBillingAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyBillingAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyBillingAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.ShippingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyBillingAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyBillingAddress.street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.ShippingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyBillingAddress.province</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>PGP-0004: Assign object record variable</description>
        <name>Keep_Blank_Address_In_Shipping_Address</name>
        <label>Keep Blank Address In Shipping Address</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>accountRecord.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyBillingAddress.city</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyBillingAddress.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyBillingAddress.province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>accountRecord.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompanyBillingAddress.street</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Account_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>PGP-0004: This decision validates whether billing and shipping addresses are same or not.</description>
        <name>Validate_Billing_and_Shipping_Adress</name>
        <label>Validate Billing and Shipping Adress</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Keep_Blank_Address_In_Shipping_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BillingAndShippingAddressSame.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Billing_and_Shipping_Address</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <description>PGP-0004 : Flow screen to provide customer and company information.</description>
    <dynamicChoiceSets>
        <description>PGP-0004 : Add picklist values from opportunity Stage field.</description>
        <name>opportunityStages</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>StageName</picklistField>
        <picklistObject>Opportunity</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>PGP-0004: Display Role</description>
        <name>RoleOpportunityContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Role</picklistField>
        <picklistObject>OpportunityContactRole</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>PGP-0004: Create formula field to display default opportunity Name</description>
        <name>displayDefaultOppName</name>
        <dataType>String</dataType>
        <expression>{!CompanyName}&amp;&quot;-Direct Deal&quot;</expression>
    </formulas>
    <formulas>
        <description>PGP-0004: Validate Name field</description>
        <name>validateName</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK({!CustomerName.firstName}) &amp;&amp; ISBLANK({!CustomerName.lastName}))</expression>
    </formulas>
    <interviewLabel>SF - Customer Information Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF - Customer Information Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>PGP-0004: Create Account Record</description>
        <name>Create_Account_Record</name>
        <label>Create Account Record</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Create_Contact_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Complete_Transaction</targetReference>
        </faultConnector>
        <inputReference>accountRecord</inputReference>
    </recordCreates>
    <recordCreates>
        <description>PGP-0004 : Create a contact record</description>
        <name>Create_Contact_Record</name>
        <label>Create Contact Record</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <assignRecordIdToReference>contactRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Opportunity_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Complete_Transaction</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>CustomerEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>CustomerName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>CustomerName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>CustomerPhone.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <description>PGP-0004: Create Opportunity Contact Role Record</description>
        <name>Create_Opportunity_Contact_Role_Record</name>
        <label>Create Opportunity Contact Role Record</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>Display_Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Rollback_Complete_Transaction</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>contactRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsPrimary</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>opportunityRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <elementReference>ocrRole</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>PGP-0004: Create Opportunity records</description>
        <name>Create_Opportunity_Record</name>
        <label>Create Opportunity Record</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignRecordIdToReference>opportunityRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Opportunity_Contact_Role_Record</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Rollback_Complete_Transaction</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Estimated_Close_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Opportunity_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Stage</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordRollbacks>
        <description>PGP-0004: Rollback Transaction</description>
        <name>Rollback_Complete_Transaction</name>
        <label>Rollback Complete Transaction</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Display_Exception</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>Customer_Data</name>
        <label>Customer Data</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validate_Billing_and_Shipping_Adress</targetReference>
        </connector>
        <fields>
            <name>showHeaderMessage</name>
            <extensionName>c:flowCustomHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>headerText</name>
                <value>
                    <stringValue>Customer Onboarding</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subHeaderText</name>
                <value>
                    <stringValue>Accelerate customer onboarding &amp; digital adoption by educating new customers effectively. Create engaging product tours that drive more customer usage &amp; adoption of your product.</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Customer_Information</name>
            <fieldText>Customer Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>salutation,firstName,lastName</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(195, 12, 12);&quot;&gt;First Name and Last Name can&apos;t be BLANK. Please enter first name and last name.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!validateName}</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Please enter your email Id</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CustomerPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>placeholder</name>
                        <value>
                            <stringValue>Please enter customer phone number</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CompanyName</name>
                    <dataType>String</dataType>
                    <fieldText>Company Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Company_Address</name>
            <fieldText>Company Address</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Company_Address_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BillingAndShippingAddressSame</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select If Billing and Shipping addresses are same.</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleActive</name>
                        <value>
                            <stringValue>Both the addresses are same</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>messageToggleInactive</name>
                        <value>
                            <stringValue>Both the addresses are different</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CompanyBillingAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Billing Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showAddressLookup</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Opportunity_Information</name>
            <fieldText>Opportunity Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Opportunity_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Opportunity_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>displayDefaultOppName</elementReference>
                    </defaultValue>
                    <fieldText>Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Stage</name>
                    <choiceReferences>opportunityStages</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Stage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ocrRole</name>
                    <choiceReferences>RoleOpportunityContact</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Role</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Opportunity_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Estimated_Close_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Estimated Close Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Estimated_Price</name>
                    <dataType>Currency</dataType>
                    <fieldText>Estimated Price</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>PGP-0004: Display Error Message</description>
        <name>Display_Exception</name>
        <label>Display Exception</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayToastErrorMessage</name>
            <extensionName>c:flowShowToastMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>PGP-0004: Display success message</description>
        <name>Display_Success_Message</name>
        <label>Display Success Message</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayOpportunityCreationSuccessMessage</name>
            <extensionName>c:flowShowToastMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Opportunity record has been created successfully</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>opportunityRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Customer_Data</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>PGP-0004: Assign values in Account record variable</description>
        <name>accountRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>PGP-0004: Variable to store new Contact Record Id</description>
        <name>contactRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>opportunityRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
