force-app/main/default/flows/SF_Email_Subscription_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_All_Selected_Rows</name>
        <label>Assign All Selected Rows</label>
        <locationX>446</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>selectedEmailListRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NonSubscribedEmailList.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collection_For_Add_Email_Subscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_All_Selected_Rows</name>
        <label>Copy 1 of Assign All Selected Rows</label>
        <locationX>446</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>emailSubscriptionRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SubscribedEmailList.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Remove_Subscription_List</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>PGP-0005: Check Existing Email Subscription Records</description>
        <name>Check_Email_Subscription_Records</name>
        <label>Check Email Subscription Records</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Existing_Email_Subscriptions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Email_Subscription_Records</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Email_Subscriptions</targetReference>
            </connector>
            <label>Existing</label>
        </rules>
    </decisions>
    <decisions>
        <description>PGP-0005: Adding Email Subscriptions to create new records</description>
        <name>Validate_Add_Subscription</name>
        <label>Validate Add Subscription</label>
        <locationX>314</locationX>
        <locationY>2630</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Email_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Collection_For_Add_Email_Subscription</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_mor_Email_Subscription_Records</targetReference>
            </connector>
            <label>Add Email Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <description>PGP-0005: Validate Existing Email Id&apos;s list</description>
        <name>Validate_Existing_Email_Ids_Collection</name>
        <label>Validate Existing Email Ids Collection</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>All_Subscribed_Email_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Value</defaultConnectorLabel>
        <rules>
            <name>Have_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Existing_Email_List_Ids</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Non_Subscribed_Email_List</targetReference>
            </connector>
            <label>Have Values</label>
        </rules>
    </decisions>
    <decisions>
        <description>PGP-0005: Validate user inputs for manage subscription</description>
        <name>Validate_Manage_Subscription</name>
        <label>Validate Manage Subscription</label>
        <locationX>578</locationX>
        <locationY>2174</locationY>
        <defaultConnector>
            <targetReference>displayMessageForNoSubscriptionSelected</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manage_Subscription</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Added_Subscription</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Remove_Subscription</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Remove_Subscription_List</targetReference>
            </connector>
            <label>Manage Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <description>PGP-0005: Getting values those are not subscribed</description>
        <name>Validate_Non_Subscribed_List</name>
        <label>Validate Non Subscribed List</label>
        <locationX>578</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>Email_Subscription_Manager</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Subscribed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>allEmailList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>allEmailList</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Subscription_Manager</targetReference>
            </connector>
            <label>Not Subscribed</label>
        </rules>
    </decisions>
    <decisions>
        <description>PGP-0005: Remove Subscription List Selected</description>
        <name>Validate_Remove_Subscription_List</name>
        <label>Validate Remove Subscription List</label>
        <locationX>314</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>Validate_Add_Subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remove_Subscription_List</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Remove_Subscription_List</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Email_Subscription_Records</targetReference>
            </connector>
            <label>Remove Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <description>PGP-0005: Validate selected records for remove email subscription.</description>
        <name>Validation_For_Remove_Email_Subscription</name>
        <label>Validation For Remove Email Subscription</label>
        <locationX>578</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Validate_Manage_Subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remove_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SubscribedEmailList.selectedRows</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_All_Selected_Rows</targetReference>
            </connector>
            <label>Remove Subscription</label>
        </rules>
    </decisions>
    <decisions>
        <description>PGP-0005: Validate if any Email subscription selected</description>
        <name>ValidationForAddSubscription</name>
        <label>Validation For Add Subscription</label>
        <locationX>578</locationX>
        <locationY>1358</locationY>
        <defaultConnector>
            <targetReference>Validation_For_Remove_Email_Subscription</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Added_Subscription</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NonSubscribedEmailList.selectedRows</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_All_Selected_Rows</targetReference>
            </connector>
            <label>Added Subscription</label>
        </rules>
    </decisions>
    <description>PGP-0005: Create Email Subscription Screen</description>
    <environments>Default</environments>
    <interviewLabel>SF - Email Subscription Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF - Email Subscription Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>PGP-0005: Add More Email Subscription Collection</description>
        <name>Add_mor_Email_Subscription_Records</name>
        <label>Add mor Email Subscription Records</label>
        <locationX>50</locationX>
        <locationY>2738</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>displayMessageForNoSubscriptionSelected</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Email_Subscription_Rollback</targetReference>
        </faultConnector>
        <inputReference>Collection_For_Add_Email_Subscription</inputReference>
    </recordCreates>
    <recordDeletes>
        <description>PGP-0005: Remove Email Subscription Records</description>
        <name>Remove_Email_Subscription_Records</name>
        <label>Remove Email Subscription Records</label>
        <locationX>50</locationX>
        <locationY>2390</locationY>
        <connector>
            <targetReference>Validate_Add_Subscription</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_Subscription_Rollback</targetReference>
        </faultConnector>
        <inputReference>Get_Remove_Subscription_List</inputReference>
    </recordDeletes>
    <recordLookups>
        <description>PGP-0005: All Subscribe email list if contact is not associated with any Email Subscription</description>
        <name>All_Subscribed_Email_List</name>
        <label>All Subscribed Email List</label>
        <locationX>710</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Non_Subscribed_List</targetReference>
        </connector>
        <object>Email_List__c</object>
        <outputReference>allEmailList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email_List_Name__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>PGP-0005: Get Contact Record for selected recordId.</description>
        <name>Get_Contact_Record_For_Selected_Record_Id</name>
        <label>Get Contact Record For Selected Record Id</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Email_Subscription_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>PGP-0005: Get Email Subscription records for selected ContactId.</description>
        <name>Get_Email_Subscription_Records</name>
        <label>Get Email Subscription Records</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Email_Subscription_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Email_Subscription__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>PGP-0005: Get Non Subscribed Email List</description>
        <name>Non_Subscribed_Email_List</name>
        <label>Non Subscribed Email List</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Non_Subscribed_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>Add_Existing_Email_List_Ids</elementReference>
            </value>
        </filters>
        <object>Email_List__c</object>
        <outputReference>allEmailList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Email_List_Name__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
    </recordLookups>
    <recordRollbacks>
        <description>PGP-0005: Rollback Email Subscription Transaction</description>
        <name>Email_Subscription_Rollback</name>
        <label>Email Subscription Rollback</label>
        <locationX>314</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>displayErrorMessageForNoSubscriptionSelected</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <description>LEM-0005:Screen To Display Message For No Selection</description>
        <name>displayErrorMessageForNoSubscriptionSelected</name>
        <label>Display Error Message For No Subscription Selected</label>
        <locationX>314</locationX>
        <locationY>2954</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayErrorMessageForNoSubscriptionSelection</name>
            <extensionName>c:flowShowToastMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <elementReference>$Flow.FaultMessage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>LEM-0005:Screen To Display Message For No Selection</description>
        <name>displayMessageForNoSubscriptionSelected</name>
        <label>displayMessageForNoSubscriptionSelected</label>
        <locationX>842</locationX>
        <locationY>2282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayMessageForNoSubscriptionSelection</name>
            <extensionName>c:flowShowToastMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>Manage Subscription has been completed successfully.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>variant</name>
                <value>
                    <stringValue>success</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>PGP-0005: Email Subscription Manager Screen</description>
        <name>Email_Subscription_Manager</name>
        <label>Email Subscription Manager</label>
        <locationX>578</locationX>
        <locationY>1250</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ValidationForAddSubscription</targetReference>
        </connector>
        <fields>
            <name>Email_Subscription_Manager_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Email_Subscription_Manager_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NonSubscribedEmailList</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Email_List__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select the following Email List to subscribe this contact to:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>allEmailList</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f11f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Email_List_Name__c&quot;,&quot;guid&quot;:&quot;column-699c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Email List Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-31f4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Not_Subscribed</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Email_Subscription_Manager_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Email_Subscription_Manager_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SubscribedEmailList</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Email_Subscription__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Select the following Email List to Unsubscribed this Contact to:</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Email_Subscription_Records</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-819c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-2a1b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Existing</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Manage Subscription</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>PGP-0005: Display existing email subscription records in DataTable.</description>
        <name>Existing_Email_Subscriptions</name>
        <label>Email Subscriptions</label>
        <locationX>578</locationX>
        <locationY>542</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Existing_Email_List_Ids</targetReference>
        </connector>
        <fields>
            <name>Existing_Email_Subscriptions_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Existing_Email_Subscriptions_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailSubscription</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Email_Subscription__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email Subscriptions</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isShowSearchBar</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Email_Subscription_Records</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c22d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Description__c&quot;,&quot;guid&quot;:&quot;column-f832&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Description&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Subscription__c&quot;,&quot;guid&quot;:&quot;column-2d7e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Subscription&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Existing</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Existing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Existing_Email_Subscriptions_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Existing_Email_Subscriptions_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DisplayMessageForManageSubscription</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Click Manage Subscription to add or remove a subscription.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Existing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Existing_Email_Subscriptions_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Existing_Email_Subscriptions_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>displayNoEmailSubscriptionRecord</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;This contact is not associated with any Email List.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Existing</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Existing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Manage Subscription</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contact_Record_For_Selected_Record_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Add_Existing_Email_List_Ids</name>
        <label>Add Existing Email List Ids</label>
        <locationX>578</locationX>
        <locationY>650</locationY>
        <connector>
            <targetReference>Validate_Existing_Email_Ids_Collection</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Email_Subscription_Records[$EachItem].Email_List__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <description>PGP-0005: Create Email Subscription Collection</description>
        <name>Collection_For_Add_Email_Subscription</name>
        <label>Collection For Add Email Subscription</label>
        <locationX>446</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Validation_For_Remove_Email_Subscription</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Email_Subscription__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Email_List__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>selectedEmailListRecords[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Description__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>selectedEmailListRecords[$EachItem].Description__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Subscription__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>selectedEmailListRecords[$EachItem].Name</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Contact__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <description>PGP-0005: Get list of Email Subscription to remove records.</description>
        <name>Get_Remove_Subscription_List</name>
        <label>Get Remove Subscription List</label>
        <locationX>446</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Validate_Manage_Subscription</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Email_Subscription__c</objectType>
        <scale>0</scale>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Id</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>emailSubscriptionRecords[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <description>PGP-0005: Stores all Email List</description>
        <name>allEmailList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Email_List__c</objectType>
    </variables>
    <variables>
        <description>PGP-0005: Add Email Subscription Record Ids</description>
        <name>emailSubscriptionRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Email_Subscription__c</objectType>
    </variables>
    <variables>
        <description>PGP-0005:  Record Id variable to read current contact record Id.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedEmailListRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Email_List__c</objectType>
    </variables>
</Flow>
