force-app/main/default/flows/SF_File_Upload_Component.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>File_Upload_Action_1</name>
        <label>File Upload Action 1</label>
        <locationX>138</locationX>
        <locationY>890</locationY>
        <actionName>UploadFileToFTPLocation.File Upload</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Execute_Content_Version_Records</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>Test2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>UploadFileToFTPLocation.File Upload</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_File_Content</name>
        <label>Get File Content</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <actionName>GetDataIntoBas64</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Values</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>requestList</name>
            <value>
                <elementReference>Execute_Content_Version_Records</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetDataIntoBas64</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>GetBase64Content</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <description>PGP-0006 : Assign value TRUE to boolean variable</description>
        <name>Assign_False_To_DisplayMessage_Panel</name>
        <label>Assign False To DisplayMessage Panel</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>displayMessagePanel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TotalCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ContentDocumentIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>File_Uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>PGP-0006 : Assign value TRUE to boolean variable</description>
        <name>Assign_True_To_DisplayMessage_Panel</name>
        <label>Assign True To DisplayMessage Panel</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>displayMessagePanel</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Upload_File</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values</name>
        <label>Assign Values</label>
        <locationX>138</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Test2.body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetBase64Content</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Test2.fileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Execute_Content_Version_Records.PathOnClient</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Test2.path</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>File_Upload_Action_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>PGP-0006 : Check whether File Uploade or not</description>
        <name>File_Uploaded</name>
        <label>File Uploaded</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_True_To_DisplayMessage_Panel</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_Version_Records</targetReference>
            </connector>
            <label>Uploaded</label>
        </rules>
    </decisions>
    <description>PGP-0006 : Upload File to Target folder</description>
    <environments>Default</environments>
    <formulas>
        <description>PGP-0006: Check whether user uploaded file or not</description>
        <name>checkNumberOfUploadedFIles</name>
        <dataType>Boolean</dataType>
        <expression>(OR( ISBLANK({!uploadedFileNames}) , ISNULL({!uploadedFileNames})))</expression>
    </formulas>
    <interviewLabel>SF - File Upload Component {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF - File Upload Component</label>
    <loops>
        <name>Execute_Content_Version_Records</name>
        <label>Execute Content Version Records</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Content_Version_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_File_Content</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>PGP-0006: Get Content Version Data For Selected Content Document Ids</description>
        <name>Get_Content_Version_Records</name>
        <label>Get Content Version Records</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Execute_Content_Version_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>ContentDocumentIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>PGP-0006: Upload File Component</description>
        <name>Upload_File</name>
        <label>Upload File</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_False_To_DisplayMessage_Panel</targetReference>
        </connector>
        <fields>
            <name>UploadFile</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select File</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>uploadedFileNames</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>uploadedFileNames</assignToReference>
                <name>fileNames</name>
            </outputParameters>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(144, 21, 21);&quot;&gt;Please Select file to upload.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!checkNumberOfUploadedFIles}</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>displayErrorMessage</name>
            <extensionName>c:lwcDisplayFlowMessage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>message</name>
                <value>
                    <stringValue>&lt;h4&gt;You are in offline mode.     &lt;a href=&quot;#&quot;&gt;More Information&lt;/a&gt;   &lt;/h4&gt;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>type</name>
                <value>
                    <stringValue>error</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>displayMessagePanel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Upload_File</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>PGP-0006: Store Content Document Ids</description>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>PGP-0006 : Display Message Panel</description>
        <name>displayMessagePanel</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>GetBase64Content</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Test</name>
        <apexClass>ExternalService__UploadFileToFTP_UploadFile_IN_body2</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Test2</name>
        <apexClass>ExternalService__UploadFileToFTPLocation_Filex20Upload_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>PGP-0006 : Take File Count</description>
        <name>TotalCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>PGP-0006: Name of uploaded files name</description>
        <name>uploadedFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
