force-app/main/default/flows/SF_Youtube_Search.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>SF - Youtube Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF - Youtube Search</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>SearchResult</name>
        <label>SearchResult</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayRecords</name>
            <extensionName>c:lwcDisplayDataTableInFlow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayDataCollection</name>
                <value>
                    <elementReference>ALF_Search_Youtube_Content.Results.outputResult</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Youtube_Search_Content</name>
        <label>Youtube Search Content</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actions>
            <name>ALF_Search_Youtube_Content</name>
            <actionName>ALF_Search_Youtube_Content</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>searchContent</name>
                <value>
                    <elementReference>Search_Video</elementReference>
                </value>
            </inputParameters>
            <label>ALF - Search Youtube Content</label>
            <nameSegment>ALF_Search_Youtube_Content</nameSegment>
            <versionSegment>1</versionSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SearchResult</targetReference>
        </connector>
        <fields>
            <name>Youtube_Content_Search</name>
            <fieldText>Youtube Content Search</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Youtube_Content_Search_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Search_Video</name>
                    <dataType>String</dataType>
                    <fieldText>Search Video</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Youtube_Content_Search_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Search</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Search</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>ALF_Search_Youtube_Content.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>ALF_Search_Youtube_Content.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>ALF_Search_Youtube_Content.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Show Result</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>Search</eventSource>
            <handlers>
                <screenActionName>ALF_Search_Youtube_Content</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Youtube_Search_Content</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
